@{
    ViewData["Title"] = "Angular SPA";
}
<h1>@ViewData["Title"]</h1>

<p>This is Angular SPA APP</p>
<iframe  src="/angularapps/app01/@Model" class="app-container" frameborder="0" scrolling="no"></iframe>